<h2>Facility Detail</h2>

<app-facility-info [facilityId]="facilityId"></app-facility-info>

<app-discipline [facilityId]="facilityId"></app-discipline>

<app-workday [facilityId]="facilityId"></app-workday>

<app-review [facilityId]="facilityId"></app-review>

<app-exercise [facilityId]="facilityId"></app-exercise>

<app-discipline-managment [facilityId]="facilityId"></app-discipline-managment>

<app-create-discipline></app-create-discipline>

<app-create-account></app-create-account>

<app-controla-account-request></app-controla-account-request>

<app-exercise-list></app-exercise-list>

<app-create-facility></app-create-facility>

<app-update-facility [facilityId]="facilityId"></app-update-facility>

<app-assign-manager [facilityId]="facilityId"></app-assign-manager>

<app-manages-for-facility [facilityId]="facilityId"></app-manages-for-facility>



